In [1]:
import tweepy
import pandas as pd
import json
from datetime import datetime

In [2]:
def run_twitter_etl():
    # Twitter authentication
    consumer_key = 'xxhLZKqGabwbTAFU7WHPDa5Jl'
    consumer_secret = 'S3ir9SCmtThwqKyEcaFmZIXiaI1aC5BGImO8BBrJNtvGoqHiEO'
    access_key = '914125130946682880-a02PuQgJAfdYZsigqf8a9ppYY8vIgvG'
    access_secret = 'LG6OIGgezptevbdNbJdZPYmbEhooCGcji9R7bLlevQlOI'

    auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_key, access_secret)

    api = tweepy.API(auth, wait_on_rate_limit=True)

    hashtag = '#WorldCup'
    query = tweepy.Cursor(api.search_tweets, q=hashtag,
                          tweet_mode='extended').items(100)
    # print(tweets)

    list = []
    for tweet in query:
        if 'retweeted_status' in tweet._json:
            text = tweet._json['retweeted_status']["full_text"]
        else:
            text = tweet.full_text

        refined_tweet = {"user": tweet.user.screen_name,
                         'text': text
                         }

        list.append(refined_tweet)

    return list

In [5]:
df = pd.DataFrame(run_twitter_etl())

In [8]:
df.head()

            user                                               text
0          Zu7Fj  Ø§Ù„Ø¹Ø¶Ø§Ø¶ #Ø³ÙˆØ§Ø±ÙŠØ² ÙˆÙ„Ù‚Ø·Ø© Ù‡ÙŠ\nØ§Ù„Ø£ØºØ±Ø¨ Ù„Ø¨Ø·ÙˆÙ„Ø§Øª #ÙƒØ£Ø³_Ø§...
1      Anish_INC  ðŸ‡§ðŸ‡· @Casemiroâ€™s winner has booked Brazilâ€™s plac...
2  gtrvariedades  BTS ì •êµ­ëŠ” ëŒ€í•œë¯¼êµ­ ëŒ€í‘œíŒ€ë¥¼ ë§Œë‚˜ë‹¤\nBTS's Jungkook meet Kor...
3      PJ_Katona  Weâ€™re back! After Thankgiving break we give ou...
4      iFIFAHero  When CR scratches his balls and smells it, it'...

In [10]:
df.to_csv('./ngetestdata.csv', index=False, header=True)

In [11]:
dfread = pd.read_csv('./playgrounddata.csv')
dfread.head()

            user                                               text
0          Zu7Fj  Ø§Ù„Ø¹Ø¶Ø§Ø¶ #Ø³ÙˆØ§Ø±ÙŠØ² ÙˆÙ„Ù‚Ø·Ø© Ù‡ÙŠ\nØ§Ù„Ø£ØºØ±Ø¨ Ù„Ø¨Ø·ÙˆÙ„Ø§Øª #ÙƒØ£Ø³_Ø§...
1      Anish_INC  ðŸ‡§ðŸ‡· @Casemiroâ€™s winner has booked Brazilâ€™s plac...
2  gtrvariedades  BTS ì •êµ­ëŠ” ëŒ€í•œë¯¼êµ­ ëŒ€í‘œíŒ€ë¥¼ ë§Œë‚˜ë‹¤\nBTS's Jungkook meet Kor...
3      PJ_Katona  Weâ€™re back! After Thankgiving break we give ou...
4      iFIFAHero  When CR scratches his balls and smells it, it'...